html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding-left: 10px;
                padding-bottom: 10px;
                padding-right: 50px;
                font-family: "Helvetica";
                display: inline-flex;
            }

            #renderBlock{
                position:relative;
                            touch-action: none;
                            float: center;
                            background-color: lightgray;
                flex: 20%;
                display: block;
                
            }

            #renderCanvas {
                position: absolute;
                top: 20%;
                width: 100%;
                
            }

            #renderButton{
                position: absolute;
                top: 75%;
                left: 50%;
                width: 200px;
                height: 100px;
                transform: translate(-50%, -50%);
            }

            .divTitle{
                position: absolute;
                top: 0%;
                left: 50%;
                height: 100px;
                transform: translate(-50%, 0%);
            }

            #img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }


            #settings{
                position:relative;
                float: left;
                flex: 60%;
            }

            #rendered {
                position:relative;
                height: 100%;
                flex: 20%;
                touch-action: none;
                float: right;
                background-color: gray;
            }
            
            #loadingScreen {
                position: absolute;
                width: 100%;
                height: 100%;
                color: white;
                font-size: 50px;
                text-align: center;
                background-color: #000000;
                z-index: 9999;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            
            
            .loadingScreen {
                position: relative;
                width: 100%;
                height: 50%;
                color: white;
                font-size: 100px;
                text-align: center;
                background-color: #000000;
                z-index: 9999;
                top: 50%;
                -ms-transform: translateY(-50%);

            }

            
            .image_picker_image {
                max-width: 140px;
                max-height: 100px;
                background-color: #FF0000;
            }
            
            #messageString {
                width: 95%;
                height: 100px;
            }
            
            #left{
                float: left;
            }
            
            #right{
                float: right;
            }